{% extends "index.html" %}
{% block hero %}
{% endblock hero %}
{% block content %}
<div class="container">

    <header>
        <h1>{{ title }}</h1>
    </header>
    <main>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="{% url 'contact' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </main>
    <footer>
    </footer>
</div>
{% endblock content %}