<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{ title }}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- CSS del tema principal (incluye Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Barra de navegación responsiva-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">SuperBlog!</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Sobre mí</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contacto</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Perfil</a></li>
                        <li class="nav-item">
                            {% comment %} <div class="nav-link">Bienvenido, {{ user.username }} {% endcomment %}
                            <form method="post" class="nav-link" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit btn">Logout</button>
                            </form>
                        </div>
                        </li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link btn" href="{% url 'login' %}">Iniciar sesión</a></li>
                        {% endif %}
                        </ul>
                    </ul>
                </div>
            </div>
        </nav>
        {% block hero %}
        <!-- Encabezado-->
        <header class="py-5 bg-light border-bottom mb-4"  style="background-image: url('https://media.istockphoto.com/id/1094716930/es/foto/edificio-fondo-de-desenfoque-de-lobby-de-negocios-con-borrosa-cristal-pared-transparente.webp?s=2048x2048&w=is&k=20&c=Hi32o0tLPVM56IQJm9figdCXXHcc69xLMTPQbSQO0UQ='); background-repeat: no-repeat; background-size: cover ;background-position: center;">
            <div class="container">
                <div class="text-center my-5 light ">
                    <h1 class="fw-bolder text-greenhouse">¡Bienvenido a nuestro Blog de Viajes {{user.username}}!</h1>
                    <p class="lead mb-0">Explora el mundo con nosotros y descubre lugares increíbles</p>
                </div>
            </div>
            </div>
        </header>

        {% endblock hero %}
        {% block login %}
        {% endblock login %}
        {% block content %}
        <div class="container" id="finder">
            {% if user.is_authenticated and blogs|length == 0 %}
            <a href="{% url 'new_blog' %}" class="btn btn-success">Nuevo</a>
            {% else %}            
            {% if not request.resolver_match.url_name == 'login' %}
                <!-- Barra lateral-->
                <div class="">
                    <!-- Widget de búsqueda-->
                    <div class="card mb-4">
                        <div class="card-header">Buscar</div>
                        <div class="card-body">
                            <form method="get" action="{% url 'index' %}">
                                <div class="input-group">
                                    {{ form.title }}
                                    <button class="btn btn-primary" id="button-search" type="submit">Ir</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endif %}
            {% for blog in blogs %}
            {%if user.is_authenticated %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <a href="{% url 'new_blog' %}" class="btn btn-success">Nuevo</a>
                            <a href="{% url 'edit_blog' blog.id %}" class="btn btn-primary">Editar</a>
                            <a href="{% url 'delete_blog' blog.id %}" class="btn btn-danger">Borrar</a>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <!-- Contenido principal-->
                <div class="col-lg-12">
                    <!-- Post de ejemplo-->
                    {% block article %}
                    {% endblock article %}
                    <article>
                        <header class="mb-4">
                            <h2 class="fw-bolder mb-1">{{ blog.title }}</h2>
                            <div class="text-muted fst-italic mb-2">Publicado el {{ blog.created_at }}</div>
                            
                        </header>
                        {% if blog.image %}
                        <figure class="mb-4"><img class="img-fluid rounded" src="{{ blog.image.url }}" alt="Montañas" /></figure>
                        {% endif %}
                        <section class="mb-5">
                            <p class="fs-5 mb-4">{{ blog.content }}</p>
                        </section>
                    </article>
                    {% block comments %}
                    {% if user.is_authenticated %}
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                {% for comment in comments %}
                                <!-- Single comment-->
                                {% if comment.blog.id == blog.id %}
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        {% if user.username == comment.author.username %}
                                        <img class="rounded-circle" src="{{ user.photo.url }}" alt="..." style="max-width: 50px;" />
                                        {% else %}
                                        <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                                        {% endif %}
                                    </div>
                                    <div class="ms-3">
                                        <div class="fw-bold">{{ comment.author.username }}</div>
                                        {{comment.content}}
                                        <p class="text-muted">{{ comment.created_at }}</p>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                                <a href="{% url 'blog_detail' blog.id %}" class="btn btn-dark justify-content-end">Comentar</a>
                            </div>
                        </div>
                    </section>
                    {% endif %}
                    {% endblock comments %}
                    
{% comment %}                     
                    <!-- Navegación de paginación-->
                    <nav aria-label="Paginación">
                        <ul class="pagination justify-content-center my-4">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a></li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                        </ul>
                    </nav> {% endcomment %}



                </div>
                {% endfor %}
                
            </div>
            
        </div>
        {% endblock content %}
        
        <!-- Contenido de la página-->
        
        <!-- Pie de página-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Trabajo final CoderHouse &copy; SuperBlog</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        
        
    </body>
</html>